#sctCalcular{
    background-image: linear-gradient(to bottom, #054A8B 13%, #0880F1 87%);
    border-radius: 0px 0px 20px 20px;
    height: 588px;
}

#menu{
    color: white;
    justify-content: right;
    padding-top: 2%;
    font-family: 'Bowlby One', 'Sans-serif';
    font-size: 12px;
}

#titleCalculo{
    color: #B1B31D;
    font-size: 36px;
    font-family: 'Bowlby One SC', 'Sans-serif';
    width: 60%;
    text-align: center;
    margin: auto;
    margin-top: 10%;
}

#txtLargura{
    width: 100px;
    height: 25px;
    border-radius: 30px;
    margin-right: 2px;
}

#txtComprimento{
    width: 100px;
    height: 25px;
    border-radius: 30px;
    margin-left: 2px;
}

#divCalcular{
    text-align: center;
    justify-content: center;
    margin-top: 4%;
}

#lblLargura{
    font-size: 16px;
    font-family: 'Bowlby One SC', 'Sans-serif';
    color: white;
    margin-right: 2px;
}

#lblComprimento{
    font-size: 16px;
    font-family: 'Bowlby One SC', 'Sans-serif';
    color: white;
    margin-left: 2px;
}

#pMultiplicar{
    font-size: 16px;
    font-family: 'Bowlby One SC', 'Sans-serif';
    color: white;
}

#btnCalcular{
    background-color: #1AB221;
    width: 227px;
    border-radius: 30px;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Bowlby One SC', 'Sans-serif';
}

#resultadoCalculo{
    text-align: center;
    font-family: 'Bowlby One SC', 'Sans-serif';
    font-size: 16px;
    color: white;
    margin-top: 3%;
}

#titleRecomendados{
    text-align: center;
    margin-top: 4%;
    font-family: 'Bowlby One SC', 'Sans-serif';
    font-size: 24px;
}

#rodape{
    background-image: linear-gradient(to bottom, #054A8B 13%, #0880F1 87%);
    color: white;
    font-family: 'Bowlby One ', 'Sans-serif';
    font-size: 12px;
}

#nvIndex{
    text-decoration: none;
    font-family: 'Bowlby One SC', 'Sans-serif';
    font-size: 12px;
    color:white;
}

#col-1{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

#col-2{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

#col-3{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

#divBtn{
    text-align: center;
}

#nvCalcular{
    text-decoration: none;
    font-family: 'Bowlby One SC', 'Sans-serif';
    font-size: 12px;
    color:white;
}

#nvMeusModelos{
    text-decoration: none;
    font-family: 'Bowlby One SC', 'Sans-serif';
    font-size: 12px;
    color:white;
}

#nvIndex{
    text-decoration: none;
    font-family: 'Bowlby One SC', 'Sans-serif';
    font-size: 12px;
    color:white;
}

#divSpan{
    text-align: center;
    font-family: 'Bowlby One SC','Sans-serif';
    margin-top: 3%;
    font-size: 25px;
}