<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>EletroClima - Calcular BTUS</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>

        <link rel="stylesheet" th:href="@{/css/styleCalcularBtus.css}"/>

        <!--Fontes da página-->
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=""/>
        <link href="https://fonts.googleapis.com/css2?family=Bowlby+One&family=Bowlby+One+SC&display=swap" rel="stylesheet"/>

    </head>

    <body>


        <main>
            <section id="sctCalcular">

                <header th:insert="cabecalho.html"></header>

                <div class="container">

                    <div id="conteudoContainer">
                        <div id="divTitle">
                            <h1 id="titleCalculo">DESCUBRA A CAPACIDADE IDEAL DE SEU AR CONDICIONADO</h1>
                        </div>
                        
                        <div id="divSpan">
                            <span style="text-align: center;">Qual o tamanho do ambiente ?</span>
                        </div>
                        
                        <div class="d-flex" id="divCalcular">
                            
                            <div id="divLblLargura">
                                <label class="form-label" for="txtLargura" id="lblLargura">LARGURA</label>
                            </div>
                            
                            <input type="number" class="form-control" id="txtLargura"/>

                            <p id="pMultiplicar">X</p>

                            <input type="number" class="form-control" id="txtComprimento"/>
                            <label for="txtComprimento" id="lblComprimento">Comprimento</label>
                            
                        </div>

                        <div id="divBtn">
                            <button class="btn btn-success" id="btnCalcular">CALCULAR</button>
                        </div>

                        <p id="resultadoCalculo"><strong>A CAPACIDADE IDEAL É: <span id="spnResultado"></span> BTUS</strong></p>

                    </div>

                </div>

            </section>

            <section>

                <h1 id="titleRecomendados" style="margin-bottom: 2%">MODELOS RECOMENDADOS</h1>

                <div class="container">

                    <article id="listarModelos">

                    </article>

                </div>
            </section>
        </main>
        <footer th:insert="rodape.html"></footer>
        <script th:src="@{/js/jQuery.js}"></script>
        <script th:src="@{/js/script.js}"></script>

        <script>
            $(document).ready(function () {
                carregarModelos();
            });
        </script>
    </body>
</html>
