<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>EletroClima - Modelo</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" th:href="@{/css/styleModelo.css}"/>
    </head>

    <body>

        <main>
            <section id="sctModelo">
                <header th:insert="cabecalho.html"></header>
                <div class="container">
                    <div class="row" id="rowColunas">

                        <div class="col-sm-6" id="col-1">
                            <img/>
                        </div>

                        <div class="col-sm-6" id="col-2">

                            <h1>RESUMO DO MODELO</h1>

                            <p></p>

                            <button class="btn btn-success">SALVAR</button>
                            
                        </div>
                    </div>
                    <div class="row" id="rowImagemModelo">
                        <img th:src="@{/images/Seta.png}" style="width:100px; height:70px;"/>
                    </div>
                </div>
            </section>

            <section>

                <div id="divCaracteristicas">
                    <h1 id="titleCaracteristicas">PRINCIPAIS CARACTERÍSTICAS DO MODELO</h1>
                    <!--Dados do modelo serão colocados aqui via JSON-->
                </div>


            </section>
        </main>

        <footer th:insert="rodape.html"></footer>
    </body>
</html>
