<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>

        <title></title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>

    </head>
    <body>
        <footer id="rodape">
            <div class="container">

                <div class="row">
                    <div class="col-sm-4" id="col-1">
                        <p><strong>ELETROCLIMA REFRIGERAÇÃO LTDA</strong></p>
                        <p><strong>CNPJ: 00.000.000/00001-00</strong></p>
                    </div>

                    <div class="col-sm-4" id="col-2">
                        <p><strong>CONTATO: 00 00000-0000</strong></p>
                        <p><strong>ELETROCLIMA.AR@HOTMAIL.COM</strong></p>
                        <p><strong>REDES SOCIAIS: </strong><img th:src="@{/images/logo-instagram.png}" style="width:22px; height:22px;"/> <img th:src="@{/images/logo-facebook.png}" alt="alt" style="width:22px; height:22px;"/> <img  th:src="@{/images/logo-x.png}" style="width:22px; height:22px;"/></p>
                    </div>
                    
                    <div class="col-sm-4" id="col-3">
                        <nav>
                            <p><strong>PÁGINA INICIAL</strong></p>
                            <p><strong>CALCULO BTUS</strong></p>
                            <p><strong>MODELOS</strong></p>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
